<form class="topButton" action="">
    <button type="button">Search</button>
</form>

<form class="dropDown"> 
    <select id="buildingForm">
        <option disabled selected hidden>Building Type</option>
        <option>Academic Interest House</option>
        <option>Special Interest House</option>
        <option>Superblock</option>
        <option>Social House</option>
        <option>Residential Dorm</option>
    </select>
</form>

<form class="dropDown">
    <select id="commonsForm">
            <option disabled selected hidden>Commons</option>
            <option>Wonnacott</option>
            <option>Ross</option>
            <option>Cook</option>
            <option>Atwater</option>
            <option>Brainerd</option>
    </select>
</form>

<form class="dropDown">
    <select id="yearForm">
            <option disabled selected hidden>Year (upcoming semester)</option>
            <option>First-Year</option>
            <option>Sophomore / Sophomore Feb</option>
            <option>Junior / Junior Feb</option>
            <option>Senior / Senior Feb / Super-Senior Feb</option>
    </select>
</form>

<div class="ammenityGroup">
    <label><input type="checkbox" name="ammenityList[]" value="kitchen" />Kitchen</label>
    <label><input type="checkbox" name="ammenityList[]" value="laundry" />Laundry</label>
    <label><input type="checkbox" name="ammenityList[]" value="common-area" />Common Area</label>
    <label><input type="checkbox" name="ammenityList[]" value="elevator" />Elevator</label>
    <label><input type="checkbox" name="ammenityList[]" value="lawn" />Lawn</label>
    <label><input type="checkbox" name="ammenityList[]" value="portch" />Portch</label>
</div>