<form class="topButton row" action="">
    <button type="button">Search</button>
</form>

<div class="dropDown"> 
    <label for="buildingSelect">Building Type: </label>
    <select id="inputForm" [(ngModel)]="modelResult.bType">
        <option value="">Any Building Type</option>
        <option *ngFor="let build of buildingTypeList" [value]="build">{{build}}</option>
    </select>
</div>

<div class="dropDown">
    <label for="capSelect">Capacity: </label>
    <select id="inputForm" [(ngModel)]="modelResult.occupancy">
            <option value=null>Any Capacity</option>
            <option value="1">1</option>
            <option value=2>2</option>
            <option value=3>3</option>
            <option value=4>4</option>
            <option value=5>5</option>
            <option value=6>6</option>
            <option value=8>8</option>
    </select>
</div>

<div class="dropDown">
    <label for="yearSelect">Year: </label>
    <select id="inputForm" [(ngModel)]="modelResult.year">
            <option value="">Any Schoolyear</option>
            <option *ngFor="let schoolyear of schoolyearList" [value]="schoolyear">{{schoolyear}}</option>
    </select>
</div>

<p>Ammenities:</p>
<div *ngFor='let ammen of ammenityList; let i = index' class="ammenityGroup">
    <label><input [(ngModel)]="modelResult.ammenities[i]" type="checkbox" [value]="ammen.value" />{{ammen.name}}</label>
</div>

<h2>Results:</h2>
<ul class = "unorderedLi">
    <li class="listObj" *ngFor='let room of (dummyRooms | filter : modelResult.bType : modelResult.occupancy: modelResult.year : modelResult.ammenities[0]: modelResult.ammenities[1]: modelResult.ammenities[2]: modelResult.ammenities[3]: modelResult.ammenities[4]: modelResult.ammenities[5]); let i = index' (click)="onSelect(room)">
        <span> {{room.buildingName}} {{room.roomID | json }}</span>
        <div *ngIf='selectedRoom && selectedRoom == room'>
            <span> sqft: {{selectedRoom.sqft | json}}. desc: {{selectedRoom.description | json}}</span>
        </div>
    </li>
</ul>