/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Bembo';
  src: URL('assets/Bembo.ttf') format('truetype');
}

h1 {
  color: #256BB0;
  font-family: Helvetica, serif;
  font-size: 250%;
  
}

h3 {
  font-family: Helvetica, serif;
}

body {
  margin-left: 50px;
  margin-right: 50px;
  font-family: Montserrat;
}
